.booking {
  background: $color-polo-blue url("../img/booking.jpg") center/cover;

  @supports (background-image: url("../img/booking.webp")) {
    background-image: url("../img/booking.webp");
  }

  @media (min-width: 1024px) {
    @include retina {
      background-image: url("../img/booking@2x.jpg");

      @supports (background-image: url("../img/booking@2x.webp")) {
        background-image: url("../img/booking@2x.webp");
      }
    }
  }

  @include vp-1023 {
    background-image: url("../img/booking-tablet.jpg");

    @supports (background-image: url("../img/booking-tablet.webp")) {
      background-image: url("../img/booking-tablet.webp");
    }

    @include retina {
      background-image: url("../img/booking-tablet@2x.jpg");

      @supports (background-image: url("../img/booking-tablet@2x.webp")) {
        background-image: url("../img/booking-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    background-image: url("../img/booking-mobile.jpg");

    @supports (background-image: url("../img/booking-mobile.webp")) {
      background-image: url("../img/booking-mobile.webp");
    }

    @include retina {
      background-image: url("../img/booking-mobile@2x.jpg");

      @supports (background-image: url("../img/booking-mobile@2x.webp")) {
        background-image: url("../img/booking-mobile@2x.webp");
      }
    }
  }
}

.booking__container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 65px;
  }

  h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;

    @include vp-1023 {
      font-size: 34px;
      line-height: 51px;
      margin-bottom: 4px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 13px;
    }
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin: 0;

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
      padding: 0 10px;

      br {
        display: none;
      }
    }
  }
}

.booking__description {
  padding: 163px 60px 100px;

  @include vp-1023 {
    padding: 0;
    padding-bottom: 52px;
    text-align: center;
  }

  @include vp-767 {
    padding-bottom: 34px;
  }
}

.booking form {
  margin-right: 60px;

  @include vp-1023 {
    margin: 0;
  }
}
