.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    column-gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.contacts__map {
  @include vp-767 {
    height: 316px;
  }
}

.contacts__text {
  padding-top: 75px;
  padding-left: 60px;
  min-height: 306px;

  @include vp-1023 {
    padding-left: 0;
    padding-top: 65px;
    min-height: 335px;
  }

  @include vp-767 {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 15px;
    grid-row: 1/2;
  }
}

.contacts h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 31px;

  @include vp-1023 {
    margin-bottom: 28px;
  }
}

.contacts a {
  color: $color-tangaroa;
  position: relative;
  display: block;
  padding-left: 28px;
  margin-bottom: 21px;

  &::before {
    content: '';
    width: 18px;
    height: 22px;
    position: absolute;
    left: 0;
    bottom: 2px;
    background-image: url('../img/sprite/map-mark.svg');
  }

  &.contacts__address::before {
    @include vp-1023 {
      top: 6px;
    }
  }

  &.contacts__phone::before {
    height: 18px;
    background-image: url('../img/sprite/icon-phone.svg');
  }

  @include hover-focus {
    color: $color-azureish-white;
  }
}
.contacts p {
  margin: 0;
}
