.features {
  background: $color-azureish-white url('../img/features.jpg') center/cover;
}

.features__container {
  padding-top: 110px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 89px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 54px;
    padding-bottom: 65px;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.features__item {
  padding: 80px 30px 45px;
  background-color: $color-alice-blue;
  position: relative;

  @include vp-1023 {
    padding: 68px 16px 20px 20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 32px;
    top: 30px;
    background: url('../img/sprite/liner.svg') left/contain no-repeat;

    @include vp-1023 {
      width: 36px;
      height: 26px;
      top: 26px;
    }

    @include vp-767 {
      top: 25px;
      width: 36px;
      height: 26px;
    }
  }

  &:nth-child(2)::before {
    background-image: url('../img/sprite/all-inclusive.svg');
  }

  &:nth-child(3)::before {
    background-image: url('../img/sprite/zodiac.svg');
  }
}

.features__item h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 9px;

  br {
    display: none;
  }

  @include vp-1023 {
    margin-bottom: 7px;

    br {
      display: inline;
    }
  }
}

.features__item p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}