.feedback {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  padding: 43px 50px 50px;
  box-shadow: $shadow-form;
  max-width: 403px;

  @include vp-767 {
    padding: 35px 30px 40px;
  }
}

.feedback h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 27px;

  @include vp-767 {
    text-align: center;
    line-height: 25px;
  }
}

.feedback__input-group {
  display: flex;
  flex-direction: column;
}

.feedback__input-group label {
  margin-bottom: 20px;

  input {
    border: none;
    padding: 12px 16px 13px;
    display: flex;
    width: 100%;

    @include hover-focus {
      background-color: $color-polo-blue;
    }

    &::placeholder {
      font-size: 14px;
      color: $color-tangaroa;
      opacity: 0.7;
    }
  }
}

.feedback__agreement {
  margin-bottom: 30px;

  label {
    display: flex;
    align-items: center;
  }

  input {
    appearance: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-color: $color-alice-blue;
    margin-right: 5px;
    position: relative;
    flex-shrink: 0;

    @include vp-767 {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    @include hover-focus {
      background-color: $color-polo-blue;
    }

    &:checked {
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 6px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: url("../img/sprite/icon-check.svg") center/contain no-repeat;
      }
    }

    &:not(:checked) + span {
      color: rgb(213, 72, 53);
    }
  }

  span {
    font-size: 10px;
    line-height: 10px;
  }
}
