.header {
  color: $color-alice-blue;
  position: absolute;
  width: 100%;
  z-index: 30;

  @include vp-767 {
    padding-top: 20px;
  }

  &.is-open {
    left: 36px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  margin-right: 30px;
  margin-top: 35px;
  flex-shrink: 1;
  color: $color-alice-blue;

  @include hover-focus {
    color: $color-polo-blue;
  }

  @include vp-1023 {
    margin-top: 30px;

    svg {
      width: 38px;
      height: 20px;
    }
  }

  @include vp-767 {
    margin-top: 0;

    svg {
      width: 42px;
      height: 22px;
    }
  }

  .is-open & {
    z-index: 25;
    color: $color-tangaroa;
  }
}

.header__nav {
  @include vp-767 {
    background-color: $color-alice-blue;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 75px 15px 20px;
    position: fixed;
    pointer-events: none;
    top: 0;
    transition: all 0.3s ease;
    right: 0;
    visibility: hidden;
    z-index: 20;
  }

  .is-open & {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    margin-left: 36px;

    .header__item {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.header__list {
  display: grid;
  gap: 10px 33px;
  grid-template-columns: auto auto auto auto;
  padding-top: 35px;

  @include vp-1023 {
    padding-top: 0;
    column-gap: 24px;
  }

  .is-open & {
    grid-template-columns: auto;
  }
}

.header__item {
  display: flex;

  @include vp-767 {
    display: flex;
    opacity: 0;
    transition: all ease-out 0.15s;
    transform: translateX(-15px);
  }

  a {
    color: $color-alice-blue;
    font-weight: 500;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: $shadow;
    transition: color 0.3s ease;

    @include vp-1023 {
      font-size: 14px;
      line-height: 17px;
      padding-top: 32px;
      padding-bottom: 32px;
      text-shadow: none;
    }

    @include vp-767 {
      padding: 10px;
      color: $color-tangaroa;
      font-size: 18px;
      line-height: 20px;
    }

    @include hover-focus {
      color: $color-polo-blue;
    }
  }
}

.header__burger {
  align-items: center;
  background-color: transparent;
  border: none;
  border-top: 2px solid $color-alice-blue;
  border-bottom: 2px solid $color-alice-blue;
  width: 24px;
  height: 14px;
  padding: 0;
  display: none;
  position: relative;
  z-index: 25;

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: $color-alice-blue;
    top: auto;

    .is-open & {
      background: url("../img/sprite/icon-close.svg") center/contain;
      width: 14px;
      height: 14px;
      right: 0;
    }
  }

  @include vp-767 {
    display: flex;
    position: relative;
    transition: all 0.3s ease;
    align-self: center;
  }

  .is-open & {
    border-color: transparent;
  }
}
