.header {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  margin-right: 30px;
  margin-top: 35px;
  flex-shrink: 1;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-top: 30px;

    svg {
      width: 38px;
      height: 20px;
    }
  }

  @include vp-767 {
    margin-top: 0;

    svg {
      width: 42px;
      height: 22px;
    }
  }
}

.header__list {
  display: grid;
  gap: 10px 33px;
  grid-template-columns: auto auto auto auto;

  @include vp-1023 {
    column-gap: 23px;
  }
}

.header__item {
  display: flex;

  a {
    color: $color-alice-blue;
    font-weight: 500;
    line-height: 20px;
    padding-top: 48px;
    padding-bottom: 48px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 17px;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
}
